
{{#if agressorEditable}}
{{#with agressorEditable}}
<div class="title-page">
    <h1>Agressor's Details</h1>
    <a href="/agressors">Go back</a>
    <a href="/agressor/{{_id}}/edit">Edit</a>
</div>
<div class="container-details">
    <div class="ctn-details">
    <div class="right-elems">
        <div>
            <img src="{{imageUrl}}" class="img-details">
            
        </div>
        <div class="rate-details">
            <p>Rate: <span>{{rate}}</span></p>
            <p class="special-msg">Created by: {{author}}</p>
        </div>
        <div>
            <form action="/agressor/{{_id}}/delete" method="POST">
                <Button class="btn btn-logout btn-delete">Delete</Button>
            </form>
        </div>
    </div>
    <div class="body-details">
        <h2>{{name}}</h2>
        <p>
            <span>Street: {{address}}</span> - 
            <span>Suburb or City: {{city}}</span> - 
            <span>State: {{state}}</span>
        </p>
        <h3>Indictment: </h3>
        <p class="description-details">
            {{description}}
        </p>
    </div>
</div>
</div>

{{!-- <div>
    <h3>Comments</h3>
</div> --}}
{{/with}}
{{else}}
{{#with agressor}}
<div class="title-page">
    <h1>Agressor's Details</h1>
    <a href="/agressors">Go back</a>
    
</div>
<div class="container-details">
    <div class="ctn-details">
    <div class="right-elems">
        <div>
            <img src="{{imageUrl}}" class="img-details">
            
        </div>
        <div class="rate-details">
            <p>Rate: <span>{{rate}}</span></p>
            <p>Created By: {{author}}</p>
        </div>
    </div>
    <div class="body-details">
        <h2>{{name}}</h2>
        <p>
            <span>Street: {{address}}</span> - 
            <span>Suburb or City: {{city}}</span> - 
            <span>State: {{state}}</span>
        </p>
        <h3>Indictment: </h3>
        <p class="description-details">
            {{description}}
        </p>
    </div>
</div>
</div>
{{!-- <div>
    <h3>Comments</h3>
</div> --}}
{{/with}}
{{/if}}