{{!-- views/users/user-profile.hbs --}}

{{#with user}}
<div class="cont-profile">
    <div class="profile-card-container">
        <div class="image-name">
            <img src="{{imageUrl}}">
            <h1>{{username}}</h1>
        </div>
        <div class="user-props">
            <p class="description">{{description}}</p>
            <a href="/userprofile/{{_id}}/edit">Edit</a>
            <div class="email">
                <p><span >{{email}}</span></p>
                <a href="/userprofile">Relode Page</a>
            </div>
        </div>
    </div>
</div>
{{/with}}